<article class="col-sm-6 talk">

  <header class="speaker">
    {{#if speaker}}
    <a href="/speaker/{{speaker._id}}.html">
      <div class="hexagon hexagon-center member-portrait" style="background-image: url({{speaker.portrait}});">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
    </a>
    <div class="member-profile text-center">
      <span class="member-name">{{speaker.name}}</span>
      <span> | </span>
      <i class="fa fa-twitter"></i>  <a href="http://twitter.com/{{twitter.twitter}}">{{speaker.twitter}}</a>
    </div>    
    {{else }}
    <div class="hexagon hexagon-center member-portrait" style="background-image: url(/images/you.png);">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    {{/if}}
    <br>
  </header>

  {{#if title}}
  <h4>
    {{title}}
    <br><small>Language: {{language}} | Level: {{level}}</small>
  </h4>
  <p>{{description}}</p>

  {{else}}

  <br class="hidden-xs"><br class="hidden-xs">
  <p><strong>This slot could be yours! Submit your talk now.</strong> You did some crazy stuff with JavaScript? You want to show it to the community? Drop us a line on your topic on <a href="https://twitter.com/bcnjs">Twitter</a> or to <a href="https://plus.google.com/u/0/communities/115705669406517039298">Google+</a>.</p>

  {{/if}}
  <br class="visible-xs-block"><br class="visible-xs-block">
</article>
