<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//use.typekit.net/mqp5ibc.js"></script>
  <script>
    try {
      Typekit.load();
    } catch (e) {}
  </script>
  <meta name="description" content="Node.js Barcelona User Group">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">

</head>

<body>

  <div class="navbar-wrapper">
    <div class="container">
      <nav id="nodebcn-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"> 
                <img src="/images/nodebcn_square.jpg" alt="NodeBCN" class="hidden-xs" /> 
                <span class="visible-xs-inline">NodeBCN</span>
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                 <li class="active">
                  <a href="/">Event</a>
                </li>
                <li>
                  <a href="#talks">Talks</a>
                </li>
                <li>
                  <a href="#about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
  </div>

  <div class="cover-wrapper">
    <div class="container">
      <div class="cover">
        <h1 class="cover-title">Barcelona Node.js</h1>
        <br><br>
        <h3 class="cover-event-title">{{event.title}}</h3>
        <h2 class="cover-event-date"><small>
          <a href="#location">
            <i class="fa fa-map-marker"></i> {{event.location.address}}
          </a>
          <span class="separator">|</span>
          {{date}}
        </small></h2>
      </div>
    </div>
  </div>

  <div class="talks-wrapper">
    <div class="container">
      {{> talks}}
    </div>
  </div>

  <div class="subscribe-wrapper">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <p>
          Sign up to our newsletter:
        </p>
        <form action="//barcelonajs.us7.list-manage.com/subscribe/post?u=208acbe299e4546647e398502&amp;id=62880c5012" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
            <div class="input-group input-group-lg">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required="">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_208acbe299e4546647e398502_62880c5012" tabindex="-1" value=""></div>
              <span class="input-group-btn">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="location-wrapper">
    <div id="location-map">
    </div>
  </div>

  <div class="about-wrapper">
    <div class="container">
        <h3>Node.js Barcelona</h3>
        <p>Node.js Barcelona is organised by collaborators of BarcelonaJS. BarcelonaJS is a usergroup focused on JavaScript and related topics with regular meetings in Barcelona.</p>
        <p>We will love to hear about you.</p>
    </div>
  </div>


  <footer>
		<div class="container">
			<section class="col-xs-4 social">
				<h4>Follow Us</h4>
				<a href="https://twitter.com/nodebcn" id="twitter" class="social-link"><i class="fa fa-twitter fa-lg"></i></a>
				<a href="https://vimeo.com/barcelonajs" id="vimeo" class="social-link"><i class="fa fa-vimeo-square fa-lg"></i></a>
				<a href="http://www.flickr.com/groups/barcelonajs/" id="flickr" class="social-link"><i class="fa fa-flickr fa-lg"></i></a>
				<a id="gh" href="https://github.com/barcelona-js" class="social-link"><i class="fa fa-github fa-lg"></i></a>
				<h4>Supporters</h4>
				<a href="https://itnig.com"><img src="images/itnig.png" alt="itnig"></a>
			</section>
			<section class="col-xs-4 links">
				<h4>Partners</h4>
				<ul class="list-unstyled">
					<li><a href="http://barcelona.io">Barcelona.IO</a></li>
				</ul>

				<h4>Links</h4>
				<ul class="list-unstyled">
					<li><a href="http://barcelonajs.org/about">About BarcelonaJS</a></li>
					<li><a href="/code-of-conduct">Code of Conduct</a></li>
				</ul>
			</section>
			<section class="col-xs-4 meta">
				<h4>Meta</h4>
				<p>Build with <i class="fa fa-heart"></i> in Barcelona. By <a href="https://twitter.com/PatrickHeneise">Patrick Heneise</a> and <a href="https://twitter.com/drpicox">David Rodenas</a></p>
				<p>See the code on <a href="https://github.com/barcelona-js/node">Github.</a></p>
			</section>
		</div>
	</footer>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {

    var menu = $('#nodebcn-navbar');
    var origOffsetY = menu.offset().top;

    function scroll() {
      if ($(window).scrollTop() >= origOffsetY) {
          menu.addClass('navbar-fixed-top');
          menu.removeClass('navbar-static-top');
      } else {
          menu.addClass('navbar-static-top');
          menu.removeClass('navbar-fixed-top');
      }
    }

    document.onscroll = scroll;
    scroll();    

  });
</script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(41.396229, 2.194053,15);
    var mapCanvas = document.getElementById('location-map');
    var mapOptions = {
      center: myLatlng,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,

    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var infowindow = new google.maps.InfoWindow({
      content: '<h5>{{event.location.name}}</h5><p>{{event.location.address}}</p>'
    });
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '{{event.location.name}} | {{event.location.address}}'
    });
    infowindow.open(map,marker);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>



</body>
</html>
