@import 'mixins';

/*
 * Globals
 * /

/* Links * /
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button * /
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` * /
  background-color: #fff;
  border: 1px solid #fff;
}


input {
  line-height: 15px;
  padding: 15px;
  color: rgb(43, 43, 43);
}
input[type="submit"] {
  padding: 19px;
}
*/

//@import url(http://fonts.googleapis.com/css?family=Exo:300,700);
@import "../fonts/exo-font.scss";

// Bootstrap redefinitions
/////////////////////////////////////////////////////////////////////////////

html,
body {
  font-family: source-sans-pro, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;

  small {
    font-weight: 300;
  }
}



// Shared commons
/////////////////////////////////////////////////////////////////////////////

.hexagon {
  @include hexagon(1);
}

.hexagon-sm {
  @include hexagon(0.4);
}

.separator {
  font-size: 137%; padding: 0 0.5em; vertical-align: bottom;
}


// Base structure
/////////////////////////////////////////////////////////////////////////////

.navbar-wrapper {
  position: absolute;
  top: 30px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.navbar-brand img {
  max-width: 5em;
}


.cover-wrapper {
  background-color: #2d2d2d;
  background: linear-gradient(to bottom, rgba(43, 43, 43, 1), rgba(43, 43, 43, 0.3),  rgba(43, 43, 43, .9)), url(../images/background.jpg);
  background-size: cover, cover;
  background-position: center, center bottom;
  color: #dcdcdc;
  padding-top: 300px;
  padding-bottom: 50px;
  position: relative;
}
.cover-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.detail-wrapper {
  margin-top: 25px;
}

.cover {
  text-align: center;
}

.cover-event-title {
  font-size: 120%;
  margin-bottom: 0;
}
.cover-event-date {
  color: white;
  margin-top: 0;
}
.cover-event-date a {
  color: inherit;
}
.cover-event-date a:hover,
.cover-event-date a:active {
  text-decoration: none;
  border-bottom: solid 2.5px #777;
}
.cover-event-date .fa-map-marker {
  font-size: 150%; padding-right: 0.15em;
}



.subscribe-wrapper {
  background: #dceaa2;
  padding: 50px 0;
}



.talks-wrapper {
  padding: 50px 0;
  text-align: center;
}



.location-wrapper {
  padding: 50px 0;
  min-height: 450px;
  position: relative;
}

.location-map {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.location-overlay {
  background: white;
  background: rgba(255,255,255,0.85);
  min-height: 400px;
}
.location-overlay small {
  color: black;
}


.about-wrapper {
  background: white;
  padding: 50px 0;
}


footer {
  background: #e7e7e7;
}

footer h4 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}
footer ul {
  margin-top: -0.3em;
}

/*
html,
body {
  height: 100%;
  background-color: rgb(43, 43, 43);
  font-family: source-sans-pro, sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  min-height: 2000px;
}

#logo {
  max-width: 250px;
}

.navbar-brand img {
  height: 100px;
  width: 100px;
}

.portrait {
  width: 150px;
  height: 150px;
  color: white;
}

.hexagon {
  @include hexagon(1);
}

.hexagon-sm {
  @include hexagon(0.4);
}

footer {
  background-color: #111;
}

footer div {
  text-align: left;
}
*/
