                     /*
 * Globals
 * /

/* Links * /
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button * /
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` * /
  background-color: #fff;
  border: 1px solid #fff;
}


input {
  line-height: 15px;
  padding: 15px;
  color: rgb(43, 43, 43);
}
input[type="submit"] {
  padding: 19px;
}
*/
@import url(http://fonts.googleapis.com/css?family=Exo:300,700);
html,
body {
  font-family: source-sans-pro, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
  font-weight: 300;
}

.hexagon {
  position: relative;
  width: 150px;
  left: 40px;
  height: 86.6px;
  margin: 43.3px 0;
  background-color: #88BF43;
  background-size: auto 173.2051px;
  background-position: center;
  display: inline-block;
  text-align: left;
  /*counter transform the bg image on the caps*/
}
.hexagon.hexagon-center {
  margin-left: -75px;
}
.hexagon.hexagon-tile {
  margin-left: -37.5px;
  margin-right: 37.5px;
  margin-bottom: 0px;
}
.hexagon .hexTop,
.hexagon .hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 21.97px;
}
.hexagon .hexTop:after,
.hexagon .hexBottom:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 86.60254px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}
.hexagon .hexTop {
  top: -53.033px;
}
.hexagon .hexTop:after {
  background-position: center top;
}
.hexagon .hexBottom {
  bottom: -53.033px;
}
.hexagon .hexBottom:after {
  background-position: center bottom;
}
.hexagon:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 150px;
  height: 86.6025px;
  z-index: 2;
  background: inherit;
}

.hexagon-sm {
  position: relative;
  width: 60px;
  left: 16px;
  height: 34.64px;
  margin: 17.32px 0;
  background-color: #88BF43;
  background-size: auto 69.28204px;
  background-position: center;
  display: inline-block;
  text-align: left;
  /*counter transform the bg image on the caps*/
}
.hexagon-sm.hexagon-center {
  margin-left: -30px;
}
.hexagon-sm.hexagon-tile {
  margin-left: -15px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.hexagon-sm .hexTop,
.hexagon-sm .hexBottom {
  position: absolute;
  z-index: 1;
  width: 42.428px;
  height: 42.428px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 8.788px;
}
.hexagon-sm .hexTop:after,
.hexagon-sm .hexBottom:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 34.64102px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-17.32052px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-17.32052px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-17.32052px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}
.hexagon-sm .hexTop {
  top: -21.2132px;
}
.hexagon-sm .hexTop:after {
  background-position: center top;
}
.hexagon-sm .hexBottom {
  bottom: -21.2132px;
}
.hexagon-sm .hexBottom:after {
  background-position: center bottom;
}
.hexagon-sm:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 34.641px;
  z-index: 2;
  background: inherit;
}

.separator {
  font-size: 137%;
  padding: 0 0.5em;
  vertical-align: bottom;
}

.navbar-wrapper {
  position: absolute;
  top: 30px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.navbar-brand img {
  max-width: 5em;
}

.cover-wrapper {
  background-color: #2d2d2d;
  background: linear-gradient(to bottom, #2b2b2b, rgba(43, 43, 43, 0.3), rgba(43, 43, 43, 0.9)), url(../images/background.jpg);
  background-size: cover, cover;
  background-position: center, center bottom;
  color: #dcdcdc;
  padding-top: 300px;
  padding-bottom: 50px;
  position: relative;
}

.cover-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  text-align: center;
}

.cover-event-title {
  font-size: 120%;
  margin-bottom: 0;
}

.cover-event-date {
  color: white;
  margin-top: 0;
}

.cover-event-date a {
  color: inherit;
}

.cover-event-date a:hover,
.cover-event-date a:active {
  text-decoration: none;
  border-bottom: solid 2.5px #777;
}

.cover-event-date .fa-map-marker {
  font-size: 150%;
  padding-right: 0.15em;
}

.subscribe-wrapper {
  background: #dceaa2;
  padding: 50px 0;
}

.talks-wrapper {
  padding: 50px 0;
  text-align: center;
}

.location-wrapper {
  padding: 50px 0;
  min-height: 450px;
  position: relative;
}

#location-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-wrapper {
  background: white;
  padding: 50px 0;
}

footer {
  background: #e7e7e7;
}

footer h4 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

footer ul {
  margin-top: -0.3em;
}

/*
html,
body {
  height: 100%;
  background-color: rgb(43, 43, 43);
  font-family: source-sans-pro, sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  min-height: 2000px;
}

#logo {
  max-width: 250px;
}

.navbar-brand img {
  height: 100px;
  width: 100px;
}

.portrait {
  width: 150px;
  height: 150px;
  color: white;
}

.hexagon {
  @include hexagon(1);
}

.hexagon-sm {
  @include hexagon(0.4);
}

footer {
  background-color: #111;
}

footer div {
  text-align: left;
}
*/
