                     /*
 * Globals
 * /

/* Links * /
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button * /
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` * /
  background-color: #fff;
  border: 1px solid #fff;
}


input {
  line-height: 15px;
  padding: 15px;
  color: rgb(43, 43, 43);
}
input[type="submit"] {
  padding: 19px;
}
*/
@import url(http://fonts.googleapis.com/css?family=Exo:300,700);
html,
body {
  font-family: source-sans-pro, sans-serif;
}

h1, h2, h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}
h1 small, h2 small, h3 small {
  font-weight: 300;
}

.navbar-wrapper {
  position: absolute;
  top: 30px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.navbar-brand img {
  max-width: 5em;
}

.cover-wrapper {
  background: #2d2d2d;
  color: #dcdcdc;
  padding-top: 300px;
  padding-bottom: 50px;
}

.cover {
  text-align: center;
}

.cover-event-title {
  font-size: 120%;
  margin-bottom: 0;
}

.cover-event-date {
  color: white;
  margin-top: 0;
}

.cover-event-date a {
  color: inherit;
}

.cover-event-date a:hover,
.cover-event-date a:active {
  text-decoration: none;
  border-bottom: solid 1px #dcdcdc;
}

.cover-event-date .fa-map-marker {
  font-size: 150%;
  padding-right: 0.15em;
}

.cover-event-date .spacer {
  font-size: 150%;
  padding: 0 0.5em;
  vertical-align: -10%;
}

/*
html,
body {
  height: 100%;
  background-color: rgb(43, 43, 43);
  font-family: source-sans-pro, sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  min-height: 2000px;
}

#logo {
  max-width: 250px;
}

.navbar-brand img {
  height: 100px;
  width: 100px;
}

.portrait {
  width: 150px;
  height: 150px;
  color: white;
}

.hexagon {
  @include hexagon(1);
}

.hexagon-sm {
  @include hexagon(0.4);
}

footer {
  background-color: #111;
}

footer div {
  text-align: left;
}
*/
